<% content_for :body_class, ' posts' %>
<h1><%= @day.strftime(t 'date_format_day') %></h1>
<div>
  <%= link_to @day.strftime(t 'date_format_month'),  user_month_posts_path(:user_id => @user.id, :year => @day.strftime('%Y'), :month => @day.strftime('%m')) %>
</div>
<% if @posts.present? %>
  <ul class="posts">
  <% @posts.each do|post| %>
    <li>
      <section>
      <time datetime="<%= post.created_at %>">
        <%= post.created_at.strftime(t 'date_format_time') %>
      </time>
      <%= post.event.label %>
      </section>
    </li>
  <% end %>
  </ul>
<% end %>
