<% content_for :body_class, ' posts' %>
<nav>
  <ul>
    <li>
      <%= link_to user_month_posts_path(:user_id => @user.id, :year => @prev.strftime('%Y'), :month => @prev.strftime('%m')) do %>
        <%= image_tag 'prev.png' %>
      <% end %>
    </li>
    <li>
      <%= link_to user_month_posts_path(:user_id => @user.id, :year => @next.strftime('%Y'), :month => @next.strftime('%m')) do %>
        <%= image_tag 'next.png' %>
      <% end %>
    </li>
  </ul>
</nav>
<h1><%= @date.strftime(t 'date_format_month') %></h1>
<% if @posts.present? %>
  <ul class="posts">
  <% @posts[1..@posts.size].each_with_index do|posts, i| %>
    <li>
      <section class="chart">
      <h2><%=i + 1%></h2>
      <%= link_to user_day_posts_path(:user_id => @user.id, :year => @date.strftime('%Y'), :month => @date.strftime('%m'), :day => (i+1)) do %>
        <ul class="charts <%=Post.enough?(posts) ? '' : 'none'%>">
          <% if Post.enough?(posts) %>
            <% posts.each do|post| %>
              <li class="event<%=post.event_id%>" style="width: <%=post.created_at_to_percent%>%;" data-label="<%=post.event.label%>">
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      </section>
    </li>
  <% end %>
  </ul>
<% end %>
