<% content_for :body_class, ' users' %>
<ul class="menu">
  <li><%=link_to t('.post.new.label'), root_path %></li>
  <li><%=link_to t('.event_names.label'), event_names_path %></li>
  <li><%=link_to t('.users.label'), edit_user_path %></li>
</ul>
<%= render 'shared/login_button'%>
<%= render 'users/posts/day' %>

<section class="withdraw">
<%= link_to t('.withdraw.label'), destory_current_user_path, :method => :delete, :confirm => t('.withdraw.description'), :class => "btn btn-danger"%>
</section>
