<% content_for :body_class, ' post_form' %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="events">
	<% @event_names.each do|event_name| %>
	  <li class="eventli">
	  <p data-text="<%= event_name.name %>"><%= event_name.name %></p>
        <%= image_tag("#{I18n.locale}/event_#{event_name.event_id}.png", :alt => event_name.name, :title => event_name.name, :'data-id' => event_name.event_id) %>
      </li>
	<% end %>
  </ul>
  <%= f.hidden_field :event_id %>
  <%= providers_checkbox %>
<% end %>
