<% content_for :body_class, ' post_form' %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="events">
    <% @events.each do|event| %>
      <li>
        <%= image_tag("#{I18n.locale}/event_#{event.id}.png", :alt => event.label, :title => event.label, :'data-id' => event.id) %>
      </li>
    <% end %>
  </ul>
  <%= f.hidden_field :event_id %>
  <%= providers_checkbox %>
<% end %>
